nav {
  height: 50px;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-right: 50px;
}

li {
  padding-left: 20px;
}

h1 {
  height: 150px;
  background-color: #ccddee;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  height: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
}

.container {
  height: 700px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
section {
  display: flex;
  margin: 1%;
  padding-top: 10px;
  height: 300px;
  width: 45%;
  max-width: 1200px;
  background-color: #8899aa;
  justify-content: center;
}

#btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #ddeeff;
  border: none;
  padding: 5px;
  margin: 100px;
}

.hide {
  display: none;
}
