body{
    width: 100%;
}

ul{
    display: flex;
    border-color: black;
    justify-content: center;
}

li{
    display: flex;
    flex-direction: row;
    background-color: bisque;
    text-align: left;
    width:300px;
    margin:30px;
    padding: 5px;
    border: 1px solid;
    border-color: black;
}
.btns{
    display: flex;
    justify-content: center;
}

.btn{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    padding: 5px;
    border: double;
    background-color: rgb(227, 196, 184);

}
